  /***THE CSS RESET***/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
	box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
	margin: 0;
  }
  
  body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
	font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
	text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
  }

  ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  /*
	9. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }

  /***THE START OF THE MAIN CODE***/

  /***THE MAIN STYLES***/

  /***THE FONT IMPORT***/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  :root {
	--DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
  }

  html {
    font-family: 'Roboto', sans-serif;
	p, ul {
		color: var(--DarkSlateGrey);
		font-weight: 400;
		font-size: 16px;
	}
  }

  body {
    background-color: var(--CharcoalGrey);
    display: flex;
    justify-content: center;
    align-content: center;
  }


  .container {
    display: flex;
    margin-top: 1.333rem;
    width: 60%;
    background-color: white;
    border-radius: 30px;
  }

  .logoimg {
    display: none;
  }


  .container__form--right {
    width: 50%;
  }

  .container__form--left {
    padding: 2rem;
    font-weight: 400;
    color: var(--CharcoalGrey);
    width: 50%;
    padding: 2rem;
  }

  .container__form--left--header {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: var(--DarkSlateGrey);
      margin-bottom: 1.5rem;
      font-weight: 700;
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }
  }

  .container__form--left--list {
    margin-bottom: 2rem;
    li {
      display: flex;
      margin-bottom: 1rem;

      p {
        margin-left: 1rem;
        font-size: 0.889rem;
      }
    }
  }

  .container__form--left--form {

    p {
      color: var(--CharcoalGrey);
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    form {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      input {
        border: 1px solid var(--Grey);
        border-radius: 5px;
        padding: 0.9rem;
        margin-bottom: 1.5rem;
        width: 100%;
      }

      button {
        border-radius: 5px;
        padding: 0.9rem;
        background-color: var(--DarkSlateGrey);
        font-weight: 700;
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;
      }
    }
  }
  .container__form--right {
    padding: 1rem;
    img {
      width: 100%;
    }
  }


  /***THE MEDIA QUERIES***/

  @media only screen and (max-width: 1440px) {
    .container {
      display: flex;
      margin-top: 1.333rem;
      width: 60%;
      background-color: white;
      border-radius: 30px;
    }
  
  
    .container__form--right {
      width: 50%;
    }
  
    .container__form--left {
      padding: 2rem;
      font-weight: 400;
      color: var(--CharcoalGrey);
      width: 50%;
      padding: 2rem;
    }
  
    .container__form--left--header {
      h1 {
        font-size: 3.6rem;
        font-weight: 700;
        color: var(--DarkSlateGrey);
        margin-bottom: 1.5rem;
        font-weight: 700;
      }
  
      p {
        margin-bottom: 1.5rem;
      }
    }
  
    .container__form--left--list {
      margin-bottom: 2rem;
      li {
        display: flex;
        margin-bottom: 1rem;
  
        p {
          margin-left: 1rem;
        }
      }
    }
  
    .container__form--left--form {
  
      p {
        color: var(--CharcoalGrey);
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      form {
        display: flex;
        flex-direction: column;
  
        label {
          font-weight: 700;
          margin-bottom: 0.5rem;
        }
  
        input {
          border: 1px solid var(--Grey);
          border-radius: 5px;
          padding: 0.9rem;
          margin-bottom: 1.5rem;
          width: 100%;
        }
  
        button {
          border-radius: 5px;
          padding: 0.9rem;
          background-color: var(--DarkSlateGrey);
          font-weight: 700;
          color: white;
          border: none;
          cursor: pointer;
          width: 100%;
        }
      }
    }
    .container__form--right {
      padding: 1rem;
      img {
        width: 100%;
      }
    }

  }

  @media only screen and (max-width: 1416px) {
	
    .container {
      display: flex;
      margin-top: 1.333rem;
      width: 60%;
      background-color: white;
      border-radius: 30px;
    }
  
  
    .container__form--right {
      width: 50%;
    }
  
    .container__form--left {
      padding: 2rem;
      font-weight: 400;
      color: var(--CharcoalGrey);
      width: 50%;
      padding: 2rem;
    }
  
    .container__form--left--header {
      h1 {
        font-size: 2.9rem;
        font-weight: 700;
        color: var(--DarkSlateGrey);
        margin-bottom: 1.5rem;
        font-weight: 700;
      }
  
      p {
        margin-bottom: 1.5rem;
        font-size: 0.84rem;
      }
    }
  
    .container__form--left--list {
      margin-bottom: 2rem;
      li {
        display: flex;
        margin-bottom: 1rem;
  
        p {
          margin-left: 1rem;
          font-size: 0.83rem;
        }
      }
    }
  
    .container__form--left--form {
  
      p {
        color: var(--CharcoalGrey);
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      form {
        display: flex;
        flex-direction: column;
  
        label {
          font-weight: 700;
          margin-bottom: 0.5rem;
        }
  
        input {
          border: 1px solid var(--Grey);
          border-radius: 5px;
          padding: 0.9rem;
          margin-bottom: 1.5rem;
          width: 100%;
        }
  
        button {
          border-radius: 5px;
          padding: 0.9rem;
          background-color: var(--DarkSlateGrey);
          font-weight: 700;
          color: white;
          border: none;
          cursor: pointer;
          width: 100%;
        }
      }
    }
    .container__form--right {
      padding: 1rem;
      img {
        width: 100%;
      }
    }
  
  }
  
  /******TABLET******/
  @media only screen and (max-width: 1023px) {
    body {
      background-color: white;
      display: flex;
    
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.333rem;
      width: 100%;
      background-color: white;
      border-radius: 30px;

      .logoimg {
        width: 100%;
        padding: 0;
        margin-top: -1.3rem;
        display: flex;
      }
    }
	
    .container__form--right {
      width: 100%;
    }
  
    .container__form--left {
      padding: 2rem;
      font-weight: 400;
      color: var(--CharcoalGrey);
      width: 100%;
      padding: 2rem;
    }

    .container__form--right {
      padding: 0;
     img {
      display: none;
     }
  }
	
  
  }
  
  
  
  /******MOBILE******/
  @media only screen and (max-width: 768px) {

    body {
      background-color: white;
      display: flex;
    
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.333rem;
      width: 100%;
      background-color: white;
      border-radius: 30px;

      .logoimg {
        width: 100%;
        padding: 0;
        margin-top: -1.3rem;
        display: flex;
      }
    }
	
    .container__form--right {
      width: 100%;
    }
  
    .container__form--left {
      padding: 2rem;
      font-weight: 400;
      color: var(--CharcoalGrey);
      width: 100%;
      padding: 2rem;
    }

    .container__form--right {
      padding: 0;
     img {
      display: none;
     }
  }
}